[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest-flask = "*"
requests = "*"
pytest = "*"
requests-mock = "*"
from = "*"
pytest-mock = "*"
import = "*"
mocker = "*"

[dev-packages]

[requires]
python_version = "3.8"
