[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-flask = "*"
requests = "*"
pytest = ">=6.2.1"
requests-mock = "*"
pytest-mock = "*"
python-dotenv = "*"
Flask = ">=1.1.2"

[dev-packages]

[requires]
python_version = "3.8"
